* {
    margin: 0;
    padding: 0;
}

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Montserrat', sans-serif;

    --clr-accent-1: #7a0505;
    --clr-accent-2: #ffcc00;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/* Nav Sidebar */
.nav-container {
    grid-column: 1/2;
    grid-row: 1 / 3;
    background-color: var(--clr-accent-1);
}

.dashboard {
    margin-top: 10%;
    margin-left: 10%;
}

h1 {
    display: inline-block;
}

nav * {
    color: white;
    font-family: var(--ff-primary);
}

.primary-nav-div, .secondary-nav-div {
    margin-left: 15%;
    margin-top: 50px;
    
}

.primary-nav-div>ul>li, .secondary-nav-div>ul>li {
    padding-bottom: 25px;
    list-style: none;  
}

a {
    text-decoration: none;
}

i, i::before {
    padding-right: 5%;
   
}

/* Header */
header {
    grid-row: 1/2;
    grid-column: 2 / 3;
    background-color: white;
}

/* Main */
main {
    background-color:lightgray;
   
}

.top-headings {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

.your-projects-heading {
    margin-left: 2%;
}

.announcements-heading {
    margin-right: 20.5%;
}

.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.projects {
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5%;
    column-gap: 2%;
}

.project-card {
    border-left: 5px solid var(--clr-accent-2);
    background-color: white;
    position: relative;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
}

.project-card p {
    color: grey;
}

.project-card:nth-child(1),
.project-card:nth-child(3),
.project-card:nth-child(5) {
    margin-left: 5%;
}

.project-card:nth-child(2),
.project-card:nth-child(4),
.project-card:nth-child(6) {
    margin-right: 5%;
}

.project-card-text {
    margin-top: 4%;
    margin-left: 3%;
}

.project-card-icons {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.project-card-icons i {
    color:  #070000eb;
}

.right-side-container {
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements, .trending {
    background-color: white;
    margin-right: 5%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    
}

.announcements {
    margin-bottom: 10%;
    
}

.announcement-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    max-width: 80%;
}

.announcement-card:last-child {
    margin-bottom: 10%;
}

hr {
    max-width: 80%;
    margin: 20px auto -20px;
}

.trending {
    
}

.trending-title {
    padding-bottom: 5px;
}

.trending-item {
    
    margin-left: 10px;
}

.trending-span {
    display: block;
}


